#wrapper{
  background:black;
  min-height:100vh;
  overflow-x:hidden;
  position:relative;
  color:$one;

}

body{
    color:$one;
}

#contain{
    background:$four;
    position:relative;
    width:100%;
    color:$one;
    min-height:100%;
}

.container.page-content{
    padding-top:90px;
    padding-bottom:80px;
}

.indent{
    text-indent:30px;
}



button.menu-btn{
    color:$one;
    position:fixed;
    top:3%;
    left:5%;
    background:transparent;
    border-style:none;
    z-index: 5;
    font-size:1.5em;
    &:hover{
        cursor:pointer;
    }
}

button.direction{
  position:absolute;
  top:50%;
  padding:1em;
  border-radius:50%;
  height:45px;
  display:flex;
  align-items:center;
  justify-content:center;
  width:45px;
  border-style:none;
  z-index:5;
  background:$l-grey;
  opacity:0.5;
  transition:all 0.3s;
  &:hover{
    background:$l-grey;
    opacity:1;
  }

  .fa{
      line-height: 0.8;
  }

  i{
    color:white;
  }
}

button#left{
    left:5%;
  }

button#right{
    right:5%;
 }

.slider{
  height:100%;
  width:300%;
  transition:all ease-out 0.5s;
  background:$four;
  display:flex;
  // float: left;
  // display:inline-block;
}

.slide{
  width:100%;
  height:initial;
  display:flex;
  min-height:900px;
  // display:inline-block;
  // float:left;

  // &:nth-of-type(1){
  //   background-color:$red;
  // }
  //
  // &:nth-of-type(2){
  //   background-color:$green;
  // }
  //
  // &:nth-of-type(3){
  //   background-color:$blue;
  // }
  //
  // &:nth-of-type(4){
  //   background-color:$purp;
  // }

  h2{
      text-transform:capitalize;

  }
}

.pagination{
  height:20px;
  // min-width:100px;
  // width:100%;
  // max-width:300px;
  left:50%;

  transition: all 0.3s;
  position:absolute;
  text-align:center;
  z-index:5;
}

.pagination-button.active{
  background:$four;
}

.pagination-button{
  height:20px;
  // max-width:15px;
  width:20px;
 background-color:transparent;
  border-radius: 50%;
  border: 2px solid $four;
  display:inline-block;
  margin:0 3px;
  transition:all 0.3s;
  &:hover{
    cursor:pointer;
    border-color:$two;
  }
}

header{
    background:$one;
    position:fixed;
    transition:all ease-out 0.3s;
    z-index:4;

    a{
        color:$four;
    }
}

header.menu-visible{
    // top:0;
    transform:translateY(0px);
}

header.menu-hidden{
    transform:translateY(-90px);
}

.top-nav {
    a{
        text-transform: uppercase;
    }
}

.project-title{
    h4{
        text-align:center;

    }

    a{
        color:$one;
        &:hover, &:active, &:focus{
            text-decoration:none;
        }

        &.active{
            border-bottom:1px solid $one;
        }
    }
}

.projects{
    display:none;

    &.active{
        display:block;
    }
}

footer{
    position:absolute;
    bottom:0;
    background:$one;
    color:$four;
    a{
        color:$four;
        font-size:22px;
        &:hover{
            color:$two;
        }
    }
}

.bg-modal{
    background: rgba(0,0,0,0.7);
    height:100%;
    width:100%;
    position:fixed;
    z-index:6;

}


#modal{
    background:$one;
    margin:auto;
    width:70%;
}


.nav-link{
    font-weight:bold;
    transition:all 0.3s;
    &:hover{
        color:$two;
    }
    &.active{
        color:$two;
    }
}

.border-pic{
    border:solid $one 5px;
    width:100%;
    border-radius:50%;
    overflow:hidden;
    margin:auto;
    max-width:300px;
}

.overflow-hide{
    overflow:hidden;
}

.big,
.medium,
.small{
    border-radius:50%;
    position:absolute;
    @extend .overflow-hide;
}

.medium{

    top:30px;
    left:120px;
    z-index:4;
    max-width:400px;
    width:90%;
    box-shadow:2px 4px 12px rgba(0, 0, 0, 0.5);
    transition:all 0.3s;
}

.small{

    top:270px;
    z-index:3;
    max-width:300px;
    width:65%;
    transition:all 0.3s;
}

.big{
    background:rgba($one,0.7);
    bottom:0;
    left:200px;
    max-height:450px;
    max-width:450px;
    width:100%;
    height:100%;
    z-index:3;
    transition:all 0.3s;
}

.btn-container{
    button,a{
        border-radius: 25px;
        text-transform: capitalize;
        padding: 15px 0;
        border: 4px solid white;
        background: transparent;
        font-weight: bold;
        font-size: 21px;
        transition:all 0.3s;
        &:hover{
            background:$one;
            border-color:$one;
            color:$two;
        }
    }
}

.overflow-x-hide{
    overflow-x:hidden;
}


.mobile-pic{
    min-height:200px;
    margin:auto;
    .medium{
        width:70%;
        position:static;
        margin:auto;

    }
}

.contact-links{
    list-style:none;
    a{
        color:$one;
        &:hover{
            text-decoration:none;
            color:$two;
        }
    }
}



.skill-bar{
    border:5px solid $one;
    width:100px;
    height:100px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    margin:auto;

    .tiny{
        font-size: 12px;
        display: inline-block;
        margin-left: -8px;
    }
}

.tiny{
    font-size: 12px;
    display: inline-block;
    margin-left: -8px;
}

.progressbar-text{
    font-size:2.2rem;
    font-weight:500;
}

.progress-container{
    width:150px;
    height:150px;
    margin:auto;
}
