#wrapper {
  background: black;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  color: white; }

body {
  color: white; }

#contain {
  background: #3E4F89;
  position: relative;
  width: 100%;
  color: white;
  min-height: 100%; }

.container.page-content {
  padding-top: 130px;
  padding-bottom: 80px; }

.indent {
  text-indent: 30px; }

button.menu-btn {
  color: white;
  position: fixed;
  top: 3%;
  right: 5%;
  background: transparent;
  border-style: none;
  z-index: 10;
  font-size: 1.5em; }
  button.menu-btn:hover {
    cursor: pointer; }

button.direction {
  position: absolute;
  top: 50%;
  padding: 1em;
  border-radius: 50%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  border-style: none;
  z-index: 5;
  background: #ccc;
  opacity: 0.5;
  transition: all 0.3s; }
  button.direction:hover {
    background: #ccc;
    opacity: 1; }
  button.direction .fa {
    line-height: 0.8; }
  button.direction i {
    color: white; }

button#left {
  left: 5%; }

button#right {
  right: 5%; }

.slider {
  height: 100%;
  width: 300%;
  transition: all ease-out 0.5s;
  background: #3E4F89;
  display: flex; }

.slide {
  width: 100%;
  height: initial;
  display: flex;
  min-height: 900px; }
  .slide h2 {
    text-transform: capitalize; }

.pagination {
  height: 20px;
  left: 50%;
  transition: all 0.3s;
  position: absolute;
  text-align: center;
  z-index: 5; }

.pagination-button.active {
  background: #3E4F89; }

.pagination-button {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #3E4F89;
  display: inline-block;
  margin: 0 3px;
  transition: all 0.3s; }
  .pagination-button:hover {
    cursor: pointer;
    border-color: #97A4CB; }

header {
  background: white;
  position: fixed;
  transition: all ease-out 0.3s;
  z-index: 4; }
  header a {
    color: #3E4F89; }

header.menu-visible {
  transform: translateY(0px); }

header.menu-hidden {
  transform: translateY(-90px); }

.top-nav a {
  text-transform: uppercase; }

.project-title h4 {
  text-align: center; }

.project-title a {
  color: white; }
  .project-title a:hover, .project-title a:active, .project-title a:focus {
    text-decoration: none; }
  .project-title a.active {
    border-bottom: 1px solid white; }

.projects {
  display: none; }
  .projects.active {
    display: block; }

footer {
  position: absolute;
  bottom: 0;
  background: white;
  color: #3E4F89; }
  footer a {
    color: #3E4F89;
    font-size: 22px; }
    footer a:hover {
      color: #97A4CB; }

.bg-modal {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 6; }

#modal {
  background: white;
  margin: auto;
  width: 70%; }

.nav-link {
  font-weight: bold;
  transition: all 0.3s; }
  .nav-link:hover {
    color: #97A4CB; }
  .nav-link.active {
    color: #97A4CB; }

.border-pic {
  border: solid white 5px;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  padding:15px;
  max-width: 300px; }

.overflow-hide, .big,
.medium,
.small {
  overflow: hidden; }

.big,
.medium,
.small {
  border-radius: 50%;
  position: absolute; }

.medium {
  top: 30px;
  left: 120px;
  z-index: 3;
  max-width: 380px;
  width: 90%;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
  transition: all 0.3s; }

.small {
  top: 270px;
  z-index: 2;
  max-width: 300px;
  width: 65%;
  transition: all 0.3s; }

.big {
  bottom: 0;
  left: 170px;
  max-height: 410px;
  max-width: 410px;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.3s; }

  .btn-container button:visited,
  .btn-container a:visited,
  .btn-container button:active,
  .btn-container a:active{
      color:white;
  }

.btn-container button, .btn-container a {
  border-radius: 25px;
  text-transform: capitalize;
  padding: 15px 0;
  border: 4px solid white;
  background: transparent;
  font-weight: bold;
  font-size: 21px;
  transition: all 0.3s; }
  .btn-container button:hover, .btn-container a:hover {
    background: white;
    border-color: white;
    color: #97A4CB; }

.overflow-x-hide {
  overflow-x: hidden; }

.mobile-pic {
  min-height: 200px;
  margin: auto; }
  .mobile-pic .medium {
    width: 70%;
    position: static;
    margin: auto; }

.contact-links {
  list-style: none; }
  .contact-links a {
    color: white; }
    .contact-links a:hover {
      text-decoration: none;
      color: #97A4CB; }

.skill-bar {
  border: 5px solid white;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: auto; }
  .skill-bar .tiny {
    font-size: 12px;
    display: inline-block;
    margin-left: -8px; }

.tiny {
  font-size: 12px;
  display: inline-block;
  margin-left: -8px; }

.progressbar-text {
  font-size: 2.2rem;
  font-weight: 500; }

.progress-container {
  width: 150px;
  height: 150px;
  margin: auto; }

  #modal-menu .logo{
      padding:15px 0;
      display:block;
      margin:auto;
      max-width:90px;
  }

@media (max-width: 992px) {
  .center-md {
    margin: inherit; } }

@media (max-width: 768px) {
  .center-md {
    margin: 0 auto; } }

@media (max-width: 576px) {
  .center-md {
    margin: 0 auto; }
  .slide-mobile-padding {
    padding: 0 1em; }
  header nav.navbar {
    padding: 0.5em 0 0.5em 2.5em; } }
