/*====================
    DASHBOARD
====================*/


nav {

    a{
        color:white;
        &:hover{
            color:white;
        }
    }

    .dropdown-menu{
        a{
            color:black;
            padding-left:0.5em;
        }
    }
}


aside{
    // position:absolute;
    // left:0;

    &#admin-panel{
        min-width:200px;
        width:100%;
        max-width:300px;
        min-height:100vh;
        height:auto;
    }


    li{
        border-bottom: white 4px solid;
        transition:all 0.3s;


        &:hover{
            background:$dark;
            a{
                color:white;
                font-weight:bold;
                padding-left:4em;
            }

        }
    }

    a{
        @include texty;
        padding:1em 0;
        padding-left: 2em;
        display:block;
        color:$dark;
        transition: all 0.3s;
        &:hover{
            text-decoration:none;
        }
    }
}


#add-row{

    padding: 1em 0.5em;

    span{
        font-style: italic;
        font-size:1.3em;
        margin-right:2em;
    }

    button{
        border:none;
        border-radius:50%;
        transition: all 0.3s;
        padding: 0.4em 0.5em;
        color:white;
        background-color:$three;
        &:hover{
            background-color:$two;
            cursor:pointer;
        }
    }
}

.image-container{
    max-height:250px;
    overflow-y: scroll;
}
