/*=============

    EDITOR

=============*/

.md-editor{
    button.btn-default.btn-sm.btn{
        background-color:white;
        color:$dark;
        border-radius:unset;
    }

    button.btn-sm.btn.btn-primary.preview{
        background-color:$dark;
        font-size:0.8em;
        border-radius:unset;

    }

    
}
